# Віртуальне середовище
venv/
lab1_env/

info.txt

# Ignoring SQLite database file
db.sqlite3

# Файли, що генеруються IDE
*.pyc
__pycache__/

# Файли конфігурації IDE
.vscode/
.idea/

# Системи управління залежностями
pip-log.txt
pip-delete-this-directory.txt

# Вихідні файли
*.log